.readonly-input {
    background-color: #f8f9fa;
    border-color: #ccc;
    pointer-events: none;
}

.mobile-br {
  display: none;
}

audio.quiz-audio {
  width: 90%;
}

@media only screen and (max-device-width: 425px) {
  .mobile-br {
    display: inline;
  }

  #result-card-container {
    flex-direction: column;
  }
  #result-icon-container {
    margin-top: 10px;
  }
}


.option-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
    background-color: #fff;
}

.option-card:hover {
    border-color: #007bff;
    background-color: #f8f9fa;
}

.option-card.selected {
    border-color: #007bff;
    background-color: #e7f1ff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}