.footer-url:link {
  color: lightgreen;
  background-color: transparent;
  text-decoration: none;
}

.footer-url:visited {
  color: greenyellow;
  background-color: transparent;
  text-decoration: none;
}

.footer-url:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.readonly-input {
    background-color: #f8f9fa;
    border-color: #ccc;
    pointer-events: none;
}

.mobile-br {
  display: none;
}

audio.quiz-audio {
  width: 90%;
}

#navbarTitleMobile { display: none }

@media only screen and (max-device-width: 425px) {
  #result-card-container {
    flex-direction: column;
  }
  #result-icon-container {
    margin-top: 10px;
  }
  .mobile-br {
    display: inline;
  }
  #navbarTitleMobile  { display: block }
  #navbarTitleDesktop  { display: none }
}

@media only screen and (max-device-width: 768px) {
  #loggedInText { display: none }
}
