.footer-url:link {
  color: lightgreen;
  background-color: transparent;
  text-decoration: none;
}

.footer-url:visited {
  color: greenyellow;
  background-color: transparent;
  text-decoration: none;
}

.footer-url:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

@media only screen and (max-device-width: 425px) {
  audio.w-100 {
    max-width: 200px !important;
  }
  audio.w-100::-webkit-media-controls-current-time-display,
  audio.w-100::-webkit-media-controls-time-remaining-display {
    display: none;
  }
  #result-card-container {
    flex-direction: column;
  }
  #result-icon-container {
    margin-top: 10px;
  }
}
