.option-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all 0.1s ease;
    text-align: center;
    background-color: #fff;
}

.option-card:hover {
    border-color: #007bff;
    background-color: #f8f9fa;
}

.option-card.selected {
    border-color: #007bff;
    background-color: #e7f1ff;
    box-shadow: 0 0 5px gray;
}
