.footer-url:link {
  color: lightgreen;
  background-color: transparent;
  text-decoration: none;
}

.footer-url:visited {
  color: greenyellow;
  background-color: transparent;
  text-decoration: none;
}

.footer-url:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.messages {
  position: fixed;
  bottom: 4.5rem; /* push up above footer */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050;
  width: auto;
  min-width: 250px;
}

#navbarTitleMobile { display: none }

@media only screen and (max-device-width: 425px) {
  #navbarTitleMobile  { display: block }
  #navbarTitleDesktop  { display: none }
}

@media only screen and (max-device-width: 768px) {
  #loggedInText { display: none }
}

@media only screen and (max-device-height: 667px) {
  .messages {
    bottom: 0rem;
  }
}

