{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Home" %} | Bird Sound Quiz{% endblock %}

{% block extra_head %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="text-center mb-4">
            <h1 class="display-4">
                {% blocktrans trimmed with br='<span class="mobile-br"><br></span>'%}
                Welcome to {{ br }}Bird Sound Quiz!🐦
                {% endblocktrans %}
            </h1>
            <p class="lead">{% trans "HomePageSubtitle" %}</p>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm rounded-4">
                <div class="card-body">
                    <form method="post" action="{% url 'quiz' %}" class="mb-3">
                        {% csrf_token %}
                        <h5 class="card-title text-center mb-4">{% trans "RegionSelectorLabel" %}</h5>
                        <select id="regionSelect" name="region" class="form-select" required style="margin-bottom: 20px;">
                            <option value="" disabled selected>-- {% trans "NoRegionSelectedOption" %} --</option>
                            {% for region in regions %}
                            <option value="{{ region.id }}">{{ region.display_name }}</option>
                            {% endfor %}
                        </select>
                        <h5 class="card-title text-center mb-4">{% trans "GameModeSelectorLabel" %}</h5>
                        <select id="modeSelect" name="mode" class="form-select" required>
                            <option value="MULTI" selected>{% trans "MultipleChoiceOption" %}</option>
                            <option value="OPEN">{% trans "OpenAnswerOption" %}</option>
                        </select>
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-success btn-lg w-100">{% trans "QuizStartButtonLabel" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
    const regionSelect = document.getElementById('regionSelect');
    const startButton = document.querySelector('button[type="submit"]');
    // Disable Start Quiz button until region is selected
    function toggleButton() {
        startButton.disabled = !regionSelect.value;
    }
    toggleButton();
    regionSelect.addEventListener('change', toggleButton);
</script>
{% endblock %}
