{% extends "base.html" %}

{% load static %}

{% load contribute_extras %}

{% load i18n %}

{% block extra_head %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}
<div class="container py-5">
    <form method="post" action="{{ request.path }}">
        {% csrf_token %}
        <div class="text-center pb-3">
            <h1>{% trans "SpeciesStatusTaskTitle" %}</h1>
            <p class="lead">{% trans "Region" %}: {{ region }}</p>
        </div>
        <div id="taskCarousel" class="carousel slide mx-auto" data-bs-interval="false" data-bs-touch="false" style="max-width: 400px;">
            <div class="carousel-inner">
                {% for observation in observations %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}" id="slide_{{ forloop.counter }}">
                    <div class="card p-4 bg-light rounded-4">
                        <div class="text-center pb-3">
                            <h4>{% get_localized_value observation.species "name" LANGUAGE_CODE %}</h4>
                            <p><em>{{ observation.species.name_sci }}</em></p>
                        </div>
                        <div class="row justify-content-center">
                            <div style="max-width: 300px;">
                                <div class="option-card-container">
                                    {% for option in options %}
                                    <input
                                        type="radio"
                                        class="d-none"
                                        name="option_{{ observation.id }}"
                                        value="{{ option.0 }}"
                                        id="option_{{ observation.id }}_{{ forloop.counter }}"
                                    >
                                    <div class="option-card" data-radio-id="option_{{ observation.id }}_{{ forloop.counter }}">
                                        {{ option.1 }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="text-center pt-3">
                <button class="btn btn-outline-success mx-1" type="button" data-bs-target="#taskCarousel" data-bs-slide="prev" style="width: 120px;"><i class="bi bi-arrow-left"></i>&nbsp;{% trans "PrevButtonLabel" %}</button>
                <button class="btn btn-outline-secondary mx-1" type="button" aria-label="Info" data-bs-toggle="modal" data-bs-target="#instructionsModal"><i class="bi bi-info-circle"></i></button>
                <button class="btn btn-outline-success mx-1" type="button" data-bs-target="#taskCarousel" data-bs-slide="next" style="width: 120px;">{% trans "NextButtonLabel" %}&nbsp;<i class="bi bi-arrow-right"></i></button>
            </div>
            <div class="text-center pt-3">
                <button class="btn btn-outline-primary" style="width: 90px;">{% trans "FinishTaskButtonLabel" %}</button>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="instructionsModal" tabindex="-1" aria-labelledby="instructionsTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="instructionsTitle">{% trans "TaskInstructionsTitle" %}</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% trans "SpeciesStatusTaskInstructionsText" %}
                <br><br>
                <h5 class="pb-3">{% trans "SpeciesStatusTaskOptionDescriptionsTitle" %}</h5>
                {% for option in options %}
                <h6>{{ option.1 }}</h6>
                <p>{{ option_descriptions|dict_get:option.0 }}</p>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-lg mx-auto" data-bs-dismiss="modal" aria-label='{% trans "StartTaskButtonLabel" %}'>{% trans "StartTaskButtonLabel" %}</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        // Open modal when page is loaded
        var myModal = new bootstrap.Modal(document.getElementById('instructionsModal'));
        console.log(myModal)
        myModal.show();

        document.querySelectorAll('.option-card').forEach(card => {
            card.addEventListener('click', function () {
                const radioId = this.getAttribute('data-radio-id');
                const radio = document.getElementById(radioId);

                // Unselect other cards in the same group
                const name = radio.name;
                document.querySelectorAll(`input[name="${name}"]`).forEach(r => {
                    r.checked = false;
                    document.querySelector(`[data-radio-id="${r.id}"]`).classList.remove('selected');
                });

                // Select this one
                radio.checked = true;
                this.classList.add('selected');
            });
        });
    });
</script>
{% endblock %}